* {
  /* border: red 1px solid; */
  margin: 0;
  /* border: 0; */
  padding: 0;
  text-align: center;
  /* background-color: rgba(248, 249, 250, 0.753); */
  font-family: NotoSansKR, sans-serif;
}

body {
  width: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
